# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.env
.venv
env/
venv/

# Svelte / Node
svelte-ui/node_modules/
svelte-ui/dist/
svelte-ui/.svelte-kit/
